<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      code.prettyprint { display: block; white-space: pre-wrap }
      div.el {margin-left: 2em}
    </style>
    <script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
</head>
<body>
    <h1>Cached responses</h1>
            <table>
                <thead>
                    <td>Request hash</td>
                    <td>Request message (compared version)</td>
                    <td>Response payload</td>
                </thead>
                <tr th:each="messageData : ${messageDatas}">
                    <td th:text="${messageData.key}">Request hash</td>
                    <td><code class="prettyprint" th:text="${messageData.value.getRequestContent()}">Request message (compared version)</code></td>
                    <td><code class="prettyprint" th:text="${messageData.value.getResponseContent()}">Response payload</code></td>
                </tr>
            </table>
</body>
</html>